@using APS.Dominio.Entities;

@model IEnumerable<CadastroPessoas>





@foreach (var pessoa in Model)
{
    <tr>
        <td>@pessoa.Nome</td>
        <td>@pessoa.Sobrenome</td>
        <!-- Adicione outras células conforme necessário -->
        <td>
            <a asp-action="Editar" asp-route-id="@pessoa.CadastroPessoasID">Editar</a>
            <a asp-action="Excluir" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
        </td>
    </tr>
}

