<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionário</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
       
    </style>
</head>
<body>

    <main>
        <header>
            <h1>Questionário</h1>
        </header>

        <section id="question-container">
            <div id="question1" class="question">
                <p>Pergunta 1: Você teve relações sexuais sem o uso de preservativo (masculino ou feminino)?</p>
                <label>
                    <input type="radio" name="q1" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q1" value="nao"> Não
                </label>
            </div>

            <div id="question2" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q2" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q2" value="nao"> Não
                </label>
            </div>
            <div id="question3" class="question" style="display: none;">
                <p>Pergunta 3: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q3" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q3" value="nao"> Não
                </label>
            </div>
            <div id="question4" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q4" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q4" value="nao"> Não
                </label>
            </div>
            <div id="question5" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q5" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q5" value="nao"> Não
                </label>
            </div>
            <div id="question6" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q6" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q6" value="nao"> Não
                </label>
            </div>
            <div id="question7" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q7" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q7" value="nao"> Não
                </label>
            </div>
            <div id="question8" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q8" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q8" value="nao"> Não
                </label>
            </div>
            <div id="question9" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q9" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q9" value="nao"> Não
                </label>
            </div>
            <div id="question10" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q10" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q10" value="nao"> Não
                </label>
            </div>
            <div id="question11" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q11" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q11" value="nao"> Não
                </label>
            </div>
            <div id="question12" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q12" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q12" value="nao"> Não
                </label>
            </div>
            <div id="question13" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q13" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q13" value="nao"> Não
                </label>
            </div>
            <div id="question14" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q13" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q13" value="nao"> Não
                </label>
            </div>
            <div id="question15" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q13" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q13" value="nao"> Não
                </label>
            </div>

          

        </section>

        <button onclick="passarProximaPergunta()">Próxima Pergunta</button>

        <section id="resultado" style="display: none;">
            <h2>Resultados</h2>
            <p id="respostas-sim"></p>
            <p id="respostas-nao"></p>
        </section>
    </main>

    <script>
        let perguntas = document.querySelectorAll('.question');
        let indiceAtual = 0;
        let respostasSim = 0;
        let respostasNao = 0;

        function passarProximaPergunta() {
            const respostaAtual = document.querySelector(`input[name="q${indiceAtual + 1}"]:checked`);

            if (respostaAtual) {
                if (respostaAtual.value === 'sim') {
                    respostasSim++;
                } else {
                    respostasNao++;
                }

                perguntas[indiceAtual].style.display = 'none';
                indiceAtual++;

                if (indiceAtual < perguntas.length) {
                    perguntas[indiceAtual].style.display = 'block';
                } else {
                    mostrarResultados();
                }
            } else {
                alert('Por favor, selecione uma resposta.');
            }
        }

        function mostrarResultados() {
            document.getElementById('question-container').style.display = 'none';
            document.getElementById('resultado').style.display = 'block';
            document.getElementById('respostas-sim').innerText = `Respostas "Sim": ${respostasSim}`;
            document.getElementById('respostas-nao').innerText = `Respostas "Não": ${respostasNao}`;
        }
    </script>

</body>
</html>
