<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionário</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles5.css">

</head>
<style>
    * {
        padding: 0;
        margin: 0;
        font-family: 'Inter', sans-serif;
    }

    /* .nav-bar, .mobile-menu {
                                width: 100%;
                            }

                            body, .container-fluid {
                                margin: 0;
                                padding: 0;
                            } */

    header {
        background-color: #FFCCCC;
        box-shadow: 0px 3px 10px #FFCCCC;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    /*  .navbar {
                                margin: 0;
                                padding: 0;
                            } */



    /* .logo {
                                display: flex;
                                align-items: center;
                            } */



    .logo {
        display: block;
        width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
        height: 50px; /* Ajuste o tamanho da imagem conforme necessário */
        background-image: url('../css/dstLOGO-removebg-preview.png'); /* Caminho relativo para a imagem na pasta de CSS */
        background-size: cover;
        background-repeat: no-repeat;
    }


    /*  .nav-list {
                                display: flex;
                                align-items: center;
                            } */

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: #808080;
        font-weight: 400;
    }

    .login-button button {
        border: none;
        padding: 12px 15px;
        border-radius: 5px;
        background-color: #E60084;
    }

        .login-button button a {
            text-decoration: none;
            color: white;
            font-weight: 500;
            font-size: 1.1rem;
        }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .screen and (max-width: 730px) {
        nav-bar

    {
        padding: 1.5rem 4rem;
    }



    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

        .mobile-menu-icon button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

        .mobile-menu .login-button button {
            width: 100%;
        }

    .open {
        display: block;
    }

    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Helvetica, sans-serif;
        color: #323232;
        border: none;
    }

    input, label {
        display: block;
        outline: none;
        width: 100%;
    }

    a {
        color: #E60084;
    }

    body {
        padding-top: 5vh;
        background-image: url('../img/bg-register-page.jpg');
        background-size: cover;
        background-position-y: -150px;
    }

    /* form */
    #main-container {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFF;
        border-radius: 10px;
        padding: 25px;
    }

        #main-container h1 {
            text-align: center;
            margin-bottom: 25px;
            font-size: 1.6rem;
        }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .full-box {
        flex: 1 1 100%;
        position: relative;
    }

    .half-box {
        flex: 1 1 45%;
        position: relative;
    }

    .spacing {
        margin-right: 2.5%;
    }

    label {
        font-weight: bold;
        font-size: 17px;
    }

    input {
        border-bottom: 2px solid #323232;
        padding: 10px;
        font-size: .9rem;
        margin-bottom: 40px;
    }

        input:focus {
            border-color: #E60084;
        }

        input[type="submit"] {
            background-color: #E60084;
            color: #FFF;
            border: none;
            border-radius: 20px;
            height: 40px;
            cursor: pointer;
        }

    #agreement {
        margin-right: 5px;
    }

    #agreement, #agreement-label {
        display: inline-block;
        width: auto;
    }

    .error-validation {
        color: #ff1a1a;
        position: absolute;
        top: 57px;
        font-size: 12px;
    }

    .template {
        display: none;
    }


    body {
        padding-top: 0;
        background-image: url('../img/bg-register-page.jpg');
        background-size: cover;
        background-position-y: -150px;
        background-color: #FFCCCC; /* Cor de fundo vermelho claro */
    }

    .custom-navbar {
        background-color: #FFCCCC; /* Cor de fundo vermelho claro */
    }

    h5 {
        font-size: 50px; /* Tamanho da fonte desejado, ajuste conforme necessário */
        font-weight: bold;
        color: black;
    }


    .text-container {
        width: 300px;
        margin: 0 auto;
        text-align: center;
        font-size: 24px;
        padding: 20px;
    }

    .titulo {
        font-size: 24px; /* Tamanho da letra média */
        font-weight: bold; /* Negrito */
    }

    .texto {
        font-weight: bold; /* Negrito */
    }

    .hidden {
        opacity: 0;
        transition: opacity 1s;
    }


    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .grid-item {
        background-color: #ff94a6;
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    /* h2 {
                        font-size: 1.5rem;
                        color: #333;
                        margin-bottom: 10px;
                    } */

    p {
        font-size: 1rem;
        color: #666;
    }

    body {
        margin: 0;
        padding: 0;
        /* overflow: hidden; */
    }

    .grid-container {
        display: flex;
        justify-content: space-between;
        /* position: fixed; */
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .grid-item {
        flex: 0 0 29%; /* Ajuste a largura das colunas conforme necessário */
        padding: 20px;
        background-color: #ff94a6;
        margin: 5px;
        transition: transform 0.3s ease-in-out;
    }

        /* Adicione um efeito de transição suave para as colunas quando rolamos a página */
        .grid-item:hover {
            transform: scale(1.1);
        }





    .estilo-bonito {
        font-family: Arial, sans-serif;
        font-weight: bold;
        text-shadow: 2px 2px 5px #333;
        font-size: 50px;
        text-align: center;
    }

    .video-container {
        width: 800px; /* Largura do vídeo, ajuste conforme necessário */
        height: 450px; /* Altura do vídeo, ajuste conforme necessário */
        border: 3px solid #FF69B4; /* Cor da borda rosa */
        margin: 0 auto;
    }


    footer {
        color: #fff;
        padding: 10px 0;
        text-align: center;
        bottom: 0;
        width: 100%;
    }



    p {
        margin: 5px 0;
        color: #000; /* Cor preta */
        font-weight: bold; /* Texto em negrito */
    }

    h2 {
        font-size: 3.0em;
        color: #000;
        text-align: justify;
        margin: 0;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 1s ease-out forwards;
        font-weight: bold;
        text-shadow: 2px 2px 5px #333;
        font-size: 30px;
    }



    h3 {
        font-size: 3.0em;
        color: #000;
        text-align: center;
        margin: 0;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 1s ease-out forwards;
        font-weight: bold;
        text-shadow: 2px 2px 5px #333;
        font-size: 50px;
    }

    h1 {
        font-size: 3.0em;
        color: red;
        margin: 0;
        opacity: 0;
        transform: translateY(20px);
        font-weight: bold;
        text-shadow: 2px 2px 5px red;
        font-size: 15px;
    }

</style>


<body>

    <main>
        <header>
            <nav class="nav-bar">
                <div class="logo">
                </div>
                <div class="nav-list">
                    <ul>
                        <li class="nav-item"> <a href="https://localhost:7179" class="nav-link"> Início</a> </li>
                        <li class="nav-item"> <a href="https://localhost:7179/Sobre/Sobre" class="nav-link"> Sobre</a> </li>
                        <li class="nav-item"> <a href="https://localhost:7179/cADASTRoPessoas" class="nav-link"> Pessoas</a> </li>
                        <li class="nav-item">  <a href="https://localhost:7179/CadastroPessoas/Missao" class="nav-link">Missão</a></li>
                        <li class="nav-item"> <a href="https://localhost:7179/Depoimentos/Index" class="nav-link"> Relatos</a> </li>
                    </ul>
                </div>
                <div class="login-button">
                    <button> <a href="https://localhost:7179/Paginainicial/PaginaInicial"> Pagina Inicial</a> </button>
                </div>


                <div class="mobile-menu-icon">
                    <button onclick="menuShow()"> <img class="icon" src="assets/img/menu_white_36dp.svg" alt=""> </button>
                </div>
            </nav>
            <div class="mobile-menu">
                <ul>
                    <li class="nav-item"> <a href="https://localhost:7179/" class="nav-link"> Início</a> </li>
                    <li class="nav-item"> <a href="#" class="nav-link"> Projetos</a> </li>
                    <li class="nav-item"> <a href="https://localhost:7179/Sobre/Sobre" class="nav-link"> Sobre</a> </li>
                </ul>
                <div class="login-button">
                    <button> <a href="#"> Entrar</a> </button>
                </div>
            </div>
        </header>
        <header>
            <center> <h2>Segue o Questionário</h2> </center>
        </header>

        <h2 class=" animated">
            O Questionário de 13 perguntas para o pré-diagnóstico de doenças
            sexualmente transmissíveis é uma ferramenta crucial na promoção da saúde sexual.
            Ao avaliar comportamentos de risco, gerar consciência pessoal e identificar precocemente sintomas,
            o questionário contribui para a detecção precoce de DSTs. Além disso, ao quebrar estigmas, promover
            responsabilidade individual e fortalecer a comunicação nos relacionamentos, torna-se uma abordagem proativa
            para criar uma sociedade mais informada e saudável.
        </h2>
        <h1 class=" animated">* RESPONDA DE FORMA SINCERA E CORRETA  </h1>

        <h3 class=" animated">
            Segue o Questionário
        </h3>

        <img id="imagem-resultado" src="~/css/verificacao-da-lista-de-entrega-prancheta-simbolo_318-61556-520x520-removebg-preview.png" alt="Descrição da imagem" style="display: none; width: 15%; margin: 0 auto;">

        <h3 id="resultado-title" class="animated" style="display: none;">Segue o Resultado</h3>

        <h3 id="resultado-titles" class="animated" style="display: none;"><a href="https://localhost:7179/CadastroMedicos/Index" style="text-decoration: underline; color: #E60084;">Procure Especialista</a></h3>



     




        <section id="question-container">
            <div id="question1" class="question">
                <p>Pergunta 1: Você teve relações sexuais sem o uso de preservativo (masculino ou feminino)?</p>
                <label>
                    <input type="radio" name="q1" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q1" value="nao"> Não
                </label>
            </div>

            <div id="question2" class="question" style="display: none;">
                <p>Pergunta 2: Já teve múltiplos parceiros sexuais recentemente?</p>
                <label>
                    <input type="radio" name="q2" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q2" value="nao"> Não
                </label>
            </div>
            <div id="question3" class="question" style="display: none;">
                <p>Pergunta 3: Você ou seu parceiro já foram diagnosticados com alguma DST anteriormente?</p>
                <label>
                    <input type="radio" name="q3" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q3" value="nao"> Não
                </label>
            </div>
            <div id="question4" class="question" style="display: none;">
                <p>Pergunta 4: Teve contato sexual com alguém que tenha uma DST conhecida?</p>
                <label>
                    <input type="radio" name="q4" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q4" value="nao"> Não
                </label>
            </div>
            <div id="question5" class="question" style="display: none;">
                <p>Pergunta 5: Você experimentou sintomas como coceira, dor ou queimação durante a micção?</p>
                <label>
                    <input type="radio" name="q5" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q5" value="nao"> Não
                </label>
            </div>
            <div id="question6" class="question" style="display: none;">
                <p>Pergunta 6: Já notou feridas, úlceras ou caroços na área genital ou na boca?</p>
                <label>
                    <input type="radio" name="q6" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q6" value="nao"> Não
                </label>
            </div>
            <div id="question7" class="question" style="display: none;">
                <p>Pergunta 7: Já foi testado para DSTs anteriormente? Se sim, quando foi a última vez?</p>
                <label>
                    <input type="radio" name="q7" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q7" value="nao"> Não
                </label>
            </div>
            <div id="question8" class="question" style="display: none;">
                <p>Pergunta 8: Você ou seu parceiro atual têm histórico de infecções por DST?</p>
                <label>
                    <input type="radio" name="q8" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q8" value="nao"> Não
                </label>
            </div>
            <div id="question9" class="question" style="display: none;">
                <p>Pergunta 9: Utiliza métodos de prevenção, como a vacina contra o HPV ou a PrEP (profilaxia pré-exposição)?</p>
                <label>
                    <input type="radio" name="q9" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q9" value="nao"> Não
                </label>
            </div>
            <div id="question10" class="question" style="display: none;">
                <p>Pergunta 10: Você foi informado(a) sobre a importância do rastreamento e da vacinação contra DSTs?</p>
                <label>
                    <input type="radio" name="q10" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q10" value="nao"> Não
                </label>
            </div>
            <div id="question11" class="question" style="display: none;">
                <p>Pergunta 11: Já compartilhou agulhas ou seringas com outras pessoas?</p>
                <label>
                    <input type="radio" name="q11" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q11" value="nao"> Não
                </label>
            </div>
            <div id="question12" class="question" style="display: none;">
                <p>Pergunta 12: Você está ciente dos métodos adequados de prevenção de DSTs, como o uso de preservativos?</p>
                <label>
                    <input type="radio" name="q12" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q12" value="nao"> Não
                </label>
            </div>
            <div id="question13" class="question" style="display: none;">
                <p>Pergunta 13: Já teve sintomas de corrimento anormal, odor forte ou irritação na área genital?</p>
                <label>
                    <input type="radio" name="q13" value="sim"> Sim
                </label>
                <label>
                    <input type="radio" name="q13" value="nao"> Não
                </label>
            </div>
        </section>

        <center>
            <button onclick="voltarPergunta()">Pergunta Anterior</button>
            <button onclick="passarProximaPergunta()">Próxima Pergunta</button>
        </center>
        <section id="resultado" style="display: none;">
            <h2>Resultados</h2>
            <p id="respostas-sim"></p>
            <p id="respostas-nao"></p>
            <p id="resultado-final"></p>
        </section>
    </main>

    <script>
        let perguntas = document.querySelectorAll('.question');
        let indiceAtual = 0;
        let respostasSim = 0;
        let respostasNao = 0;

        function passarProximaPergunta() {
            const respostaAtual = document.querySelector(`input[name="q${indiceAtual + 1}"]:checked`);

            if (respostaAtual) {
                if (respostaAtual.value === 'sim') {
                    respostasSim++;
                } else {
                    respostasNao++;
                }

                perguntas[indiceAtual].style.display = 'none';
                indiceAtual++;

                if (indiceAtual < perguntas.length) {
                    perguntas[indiceAtual].style.display = 'block';
                } else {
                    mostrarResultados();
                }
            } else {
                alert('Por favor, selecione uma resposta.');
            }
        }

        // function mostrarResultados() {
        //     document.getElementById('question-container').style.display = 'none';
        //     document.getElementById('resultado').style.display = 'block';
        //     document.getElementById('respostas-sim').innerText = `Voce respondeu "Sim" ${respostasSim} vezes`; document.getElementById('respostas-nao').innerText = `e "Não" ${respostasNao} vezes`;
        // }


        function verificarSoropositivo() {
            // Modifique o número conforme necessário com base na quantidade de perguntas "Sim" necessárias
            const limiteRespostasSim = 9;
            const resultadoFinalElement = document.getElementById('resultado-final');

            if (respostasSim >= limiteRespostasSim) {
                resultadoFinalElement.innerText = 'Você tem grande probabilidade de ser soropositivo. Busque ajuda IMEDIATAMENTE!, Procure um dos nosso especialistas e marque uma consulta através de uns dos contatos no nosso site';
            } else {
                resultadoFinalElement.innerText = 'Você não é soropositivo. Mas busque um especialista para diagnosticar com precisão o seu caso. Caso queira, procure um dos nosso especialista';
            }

            // Centralizar o texto na tela
            resultadoFinalElement.style.textAlign = 'center';
            resultadoFinalElement.style.marginTop = '20px'; /* Ajuste conforme necessário para espaçamento superior */
        }


        // Função para mostrar resultados e verificar soropositividade
        function mostrarResultados() {
            document.getElementById('imagem-resultado').style.display = 'block';

            document.getElementById('resultado-title').style.display = 'block';
             document.getElementById('resultado-titles').style.display = 'block';
         
            document.getElementById('question-container').style.display = 'none';
            document.getElementById('resultado').style.display = 'block';
            document.getElementById('respostas-sim').innerText = `Voce respondeu "Sim" ${respostasSim} vezes`; document.getElementById('respostas-nao').innerText = `e "Não" ${respostasNao} vezes`;

            document.getElementById('resultado').style.display = 'flex';
            document.getElementById('resultado').style.flexDirection = 'column';
            document.getElementById('resultado').style.alignItems = 'center';
            document.getElementById('resultado').style.justifyContent = 'center';
            document.getElementById('resultado').style.textAlign = 'center';
            document.getElementById('resultado').style.height = '100vh';
            // Chame a função para verificar soropositividade
            verificarSoropositivo();
            document.querySelector('h3.animated').style.display = 'none';
            document.querySelector('h1.animated').style.display = 'none';
            document.querySelector('button[onclick="voltarPergunta()"]').style.display = 'none';
            document.querySelector('button[onclick="passarProximaPergunta()"]').style.display = 'none';
        }

        function voltarPergunta() {
            if (indiceAtual > 0) {
                perguntas[indiceAtual].style.display = 'none';
                indiceAtual--;

                perguntas[indiceAtual].style.display = 'block';
            } else {
                alert('Você está na primeira pergunta.');
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('input[type="radio"]').change(function () {
                $('.question-container').removeClass('checked');
                if ($(this).is(':checked')) {
                    $(this).closest('.question-container').addClass('checked');
                }
            });
        });
    </script>

</body>
</html>