#question-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.question {
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

    .question p {
        font-weight: bold;
        margin-bottom: 10px;
    }

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"]:checked + .question {
    background-color: #3498db; /* Altere para a cor desejada */
    color: white; /* Altere a cor do texto, se necessário */
}

input[type="radio"]:checked + label {
    color: #3498db; /* Altere para a cor desejada */
}

input[type="radio"] {
    display: none;
    margin-right: 5px;
    cursor: pointer; /* Adicionado para indicar que é clicável */
}

input[type="text"],
input[type="radio"] {
    padding: 8px;
    font-size: 16px;
}

    input[type="text"]:focus {
        border: 2px solid #3498db;
        outline: none;
    }

    input[type="radio"]:checked {
        border: 2px solid #3498db;
    }

    input[type="radio"]:hover + label::before {
        text-decoration: underline;
    }

label {
    position: relative;
}

    label::before {
        content: ""; /* Conteúdo vazio, usado para o efeito de sublinhado */
        position: absolute;
        bottom: -4px; /* Ajuste a posição do sublinhado */
        left: 0;
        right: 0;
        height: 1px; /* Defina a altura do sublinhado */
        background-color: #3498db; /* Cor do sublinhado */
        visibility: hidden; /* Inicialmente oculto */
        transition: visibility 0s, width 0.3s; /* Adicione o efeito de transição */
    }

input[type="radio"]:hover + label::before {
    visibility: visible; /* Mostra o sublinhado ao passar o mouse */
    width: 100%; /* Faz o sublinhado cobrir toda a largura */
}

#resultado {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

button {
    background-color: #4CAF50; /* Cor verde */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

    button:hover {
        background-color: #45a049; /* Cor verde mais escura ao passar o mouse */
    }

label:hover,
label:focus {
    text-decoration: underline;
 
}
input[type="text"]:focus,
input[type="radio"]:focus {
    border: 2px solid #3498db;
    outline: none;
 
}
