<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="~/js/script.js"></script>
    <title>Sua Empresa</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="https://localhost:7179" class="nav-link">Início</a></li>
                    <li class="nav-item"><a href="https://localhost:7179/Sobre/Sobre" class="nav-link">Sobre</a></li>
                    <li class="nav-item"><a href="https://localhost:7179/cADASTRoPessoas" class="nav-link">Pessoas</a></li>
                    <li class="nav-item"><a href="https://localhost:7179/Missao/Missao" class="nav-link">Missão</a></li>
                    <li class="nav-item"><a href="https://localhost:7179/Depoimentos/Index" class="nav-link">Depoimentos</a></li>
                </ul>
            </div>
            <div class="login-button">
                <button><a href="https://localhost:7179/cADASTRoPessoas/Inserir">Cadastre-se</a></button>
            </div>
            <div class="login-button">
                <button><a href="https://localhost:7179/Autenticacao/Index">Entrar</a></button>
            </div>
            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="assets/img/menu_white_36dp.svg" alt=""></button>
            </div>
        </nav>
       
    </header>
    <header>
        <h1 >O que Somos</h1>
        <nav>
            <ul>
                <li><a href="#visao">Visão</a></li>
                <li><a href="#missao">Missão</a></li>
                <li><a href="#valores">Valores</a></li>
                <li><a href="#historia">História</a></li>
            </ul>
        </nav>
    </header>

    <section id="visao" class="section">
        <center> <h2 class="estilo-bonito">Visão</h2></center>
        <center> <p>
            "A nossa visão é criar uma comunidade global onde todas as pessoas tenham conhecimento e recursos para prevenir e gerenciar DSTs com segurança. Queremos ser o principal destino online para informações precisas, apoio compassivo
            e orientação médica, contribuindo assim para a redução da
                propagação de DSTs e a melhoria da qualidade de vida das pessoas afetadas."
            </p>
        </center>
    </section>

    <section id="missao" class="section">
        <center> <h2 class ="estilo-bonito">Missão</h2></center>
        <center><p>"A nossa missão é fornecer um espaço seguro e informativo para apoiar indivíduos afetados por DSTs, oferecendo recursos educacionais, apoio emocional e orientação médica. Trabalhamos para desmistificar as DSTs, promover a
            prevenção e eliminar o estigma associado a essas condições, garantindo
                que todos tenham acesso a informações e suporte de qualidade."
            </p>
        </center>
    </section>

    <section id="valores" class="section">
        <center> <h2 class="estilo-bonito">Valores</h2></center>
        <p><strong>Empatia:</strong> Comprometemo-nos a tratar todas as pessoas com compaixão, respeito e sensibilidade, reconhecendo os desafios únicos que enfrentam ao lidar com DSTs.</p>
        <p><strong>Educação:</strong> Priorizamos a disponibilização de informações precisas, atualizadas e baseadas em evidências para capacitar as pessoas a tomar decisões informadas sobre sua saúde sexual.</p>
        <p><strong>Confidencialidade:</strong> Respeitamos a privacidade dos nossos utilizadores e garantimos a confidencialidade das informações pessoais compartilhadas conosco.</p>
        <p><strong>Acesso universal:</strong> Trabalhamos para garantir que todas as pessoas, independentemente de sua origem, gênero, orientação sexual ou situação financeira, tenham igual acesso a recursos e apoio relacionados a DSTs.</p>
        <p><strong>Prevenção:</strong> Promovemos a prevenção de DSTs por meio de informações sobre práticas seguras, conscientização e educação contínua.</p>
        <p><strong>Acesso universal:</strong> Trabalhamos em parceria com profissionais de saúde, organizações da área da saúde, e a comunidade em geral para criar um ambiente de apoio abrangente e colaborativo.</p>
    


    </section>

    <section id="historia" class="section">
        <center> <h2>História</h2></center>
        <center><p>Nossa empresa foi fundada em...</p></center>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 DST'Security. Todos os direitos reservados.</p>
            <p>Data atual: <span id="currentDate"></span></p>
            <p><a href="termos-de-uso.html">Termos de Uso</a> | <a href="politica-de-privacidade.html">Política de Privacidade</a></p>
        </div>
    </footer>
</body>
</html>
